body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

span {
    color: orange;
}

section {
    display: flex;
}

.go {
    width: 50%;
    padding-left: 6%;
    padding-top: 5%;
}