body {
    font-family: 'Poppins', sans-serif;
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    margin: 0;

}

h1 {
    font-size: 50px;
}

span {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 150px;
}

.go {
    width: 50%;
    padding-left: 5%;
    padding-top: 2%;


}

.Button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10PX 40PX;
    font-weight: 700;
    border-radius: 5px;
    color: white;
}

.go-1 {
    padding-right: 100px;
    width: 50%;
}

.pic {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}