body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

span {
    color: orange;
}

section {
    display: flex;
}

.go {
    width: 50%;
    padding-left: 5%;
    padding-top: 2%;
}

.Button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10PX 40PX;
    font-weight: 700;
    border-radius: 5px;
    color: white;
}