body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;

}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
}

.top-banner {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;


}

.dream-big {
    padding-left: 5%;
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;



}

.left {
    padding-left: 5%;
    padding-right: 5%;
}

.experience-item {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 3%;
    border-left: red;


}

.experience-area {
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#baby {
    border-left: 7px solid tomato;
    border-radius: 10px;
}

#full {
    border-left: 7px solid blue;
    border-radius: 10px;
}

footer {
    text-align: center;
}